<div class="container">
    <form (ngSubmit)= "onSubmit()">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input required #name="ngModel" name="name" type="text" [(ngModel)] ="user.name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="text" [(ngModel)] ="user.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Address</label>
          <input  name="address" type="text" class="form-control" id="exampleInputaddress" [(ngModel)] ="user.address">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <div class="container">
        <div class="container">
            <div class="row">
              <div class="col">
                name
              </div>
              <div class="col">
                email
              </div>
              <div class="col">
               address
              </div>
              <div class="col">
                Action
               </div>
            </div>
          </div>
        <app-userlistview ></app-userlistview>
    </div>
</div>
